h3{
  transition: all 3s cubic-bezier(1, -0.01, 0, .99);
}
h3 span{
  display: inline-block;
  margin: 1em 0;
  padding: 0.3em 0.5em;
  background-color: blue;
  border: 1px solid black;
  border-radius: .5rem;
  font-size: 5rem;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.move{
  transform: translateY(-500px);
}
.pane{
  display: inline-block;
  border: 3px solid black;
  border-radius: 0.5rem;
  padding: 0.3em 0.5em;
  color: white;
  font-style: italic;
}