.parentMain{
    width: 100%;
    padding: 3.5em .8em 2em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: .3rem;
    border: 1px solid #e5e5e5;
    transition: all .5s;
    font-family: "Poppins", "sans-serif";
}
.parentMain:hover{
    box-shadow: 0px 4px 19.98px 7.02px rgba(0, 0, 0, 0.17);
}
@media screen and (min-width: 768px){
    .parentMain{
      max-width: calc(50% - 3em);
      margin: 0 1em 2em;
    }
  }
  @media screen and (min-width: 992px){
    .parentMain{
      max-width: calc(32.3333% - 2em);
    }
  }
 