.newTask{
    /* position: relative; */
    width: 100%;
    background-color: white;
    padding: 2em;
    border-radius: .3em;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.newTask input{
    border: 1px solid #B8B8B8;
    border-radius: .5em;
    padding: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newTask button{
    color: white;
    background-color: #1514FE;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2em 0;
    padding: 0.5rem;
    border-radius: .6em;
    width: 100%;
    display: flex;
    justify-content: center;
}